@font-face {
    font-family: 'numbers';
    src: url(font/Seven\ Segment.ttf);
}
@font-face {
    font-family: 'text';
    src: url(font/NotoNaskhArabic-VariableFont_wght.ttf);
}
:root {
    --page-background: bisque;
    --counter-background:#5D866C;
}
* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'text';
}
body {
    background-color: var(--page-background);
}
header {
    width: 100%;
    padding: 30px 0;
    overflow: hidden;
    height: 80px;
    transition:height 0.3s;
    background-color: var(--counter-background);
    margin-bottom: 50px;
}
header .list-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
    height: 25px;
    margin: auto;
    width: fit-content;
    cursor: pointer;
}
header .list-btn div {
    width: 40px;
    height: 5px;
    background-color: black;
    border-radius: 10px;
}
header ul {
    list-style: none;
    padding: 0;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    gap: 20px;
}
header li {
    padding-bottom: 15px;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
}

.box {
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 15px;
    margin: 40px 0;
}
p {
    text-align: end;
    margin-bottom: 20px;
    font-size: 25px;
    word-spacing: 2px;
    line-height: 30px;
}
.display {
    margin: 30px auto 0;
    width: 200px;
    background-color: var(--counter-background);
    padding: 15px 20px;
    position: relative;
    color: white;
    font-size: 25px;
    font-weight: 500;
}
.num {
    text-align: center;
    font-family: 'numbers';
}
.main {
    text-align: center;
    font-family: 'numbers';
    opacity: 0.7;
}
i {
    font-size: 20px;
    position: absolute;
    bottom: 10px;
}